bumpversion==0.6.0
coverage==7.6.9
cryptography==42.0.7
flake8==5.0.4  # pyup: ignore, latest version does not with python 3.7
PyYAML==6.0.1
pytest==7.4.0
pytest-mock==3.10.0
pytest-cov==4.1.0
Sphinx==4.3.2  # pyup: ignore, latest version does not work with python 3.7
tox==3.28.0  # pyup: ignore, latest version does not work with python 3.7
watchdog==3.0.0
wheel==0.41.1
