name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-22.04 # 22.04 has python 3.7, see https://raw.githubusercontent.com/actions/python-versions/main/versions-manifest.json
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run test
        run: |
          pip install -r requirements_dev.txt
          make test
